{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
{{ page.body }}
<section>
    <div class="container">
        <div class="row story_inner">
            <div class="story_text">
                <h2>Allergènes</h2>
                <dl>
                {% for allergene, meals in allergenes.items %}
                <dt>{{ allergene | title }}</dt>
                <dd>{% for meal in meals %}<a href="{{ meal.url }}">{{ meal }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</dr>
                {% endfor %}
                </dl>
            </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}

