{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block body_class %}template-menu-category{% endblock %}

{% block content %}
{{ page.body }}
    <section class="menu_area pad_top">
        <div class="container">
            <div class="item">
                <div class="row menu_inner">
                    <div class="col-lg-7">
                        <div class="menu_list">
                            {{ page.intro | richtext }}
                            <ul class="list">
                                {% for menu in page.get_categories %}
                                {% with menu.specific as menu %}
                                <li>
                                    <h4>{% if menu.diet == 'veggie' %}<img src="{% static 'img/veggie-icon.png' %}" alt="Végétarien" title="Végétarien">
                                        {% elif menu.diet == 'vegan' %}<img src="{% static 'img/vegan-icon.png' %}" alt="Vegan" title="Vegan">
                                        {% endif %}
                                        {% if menu.gluten_free %}<img src="{% static 'img/gluten-free.png' %}" alt="Sans gluten" title="Sans gluten"> {% endif %}
                                        <a href="{{ menu.url }}">{{ menu.title }}</a> <span>{{ menu.price }} €</span></h4>
                                    {{ menu.body | richtext }}
                                </li>
                                {% endwith %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="menu_img">
                            {% with page.random_menu as menu %}
                            {% image menu.specific.image fill-555x600 %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

