{% load static %}
{% load wagtailuserbar wagtailimages_tags wagtailcore_tags %}
{% load home_tags %}
<!doctype html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="description" content="{{ self.search_description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/fork-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/popup/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/swiper/css/swiper.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/scroll/jquery.mCustomScrollbar.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% if home_page %}
        <!--================Offcanvus Menu Area =================-->
        <div class="side_menu">
            <a class="logo" href="#">{% image page.logo max-150x150 %}</a>
            <ul class="list menu_right">
            {% block menu %}
                {% top_menu parent=page calling_page=self ul_class='list' %}
            {% endblock %}
            </ul>
            <ul class="list social">
                {% for icon in request.site.root_page.specific.contact_details %}
                <li><a href="{{ icon.value.url }}" title="{{ icon.value.title }}"><i class="fa fa-{{ icon.value.icon }}"></i></a></li>
                {% endfor %}
            </ul>
        </div>
        <!--================End Offcanvus Menu Area =================-->

        <!--================Header Menu Area =================-->
        <header class="header_area home_menu">
            <div class="main_menu">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand logo_h" href="index.html">{% image page.logo max-150x150 %}</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto">
                                {% top_menu parent=page calling_page=self ul_class='dropdown-menu' li_class='nav-item' a_class='nav-link' %}
                                <!--<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li> 
                                <li class="nav-item"><a class="nav-link" href="menu.html">Menu</a></li> 
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
                                    </ul>
                                </li> 
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                        <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>-->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->

        <!--================Canvus Menu Area =================-->
        <div class="canvus_menu">
            <div class="container">
                <div class="float-left">
                    <div class="toggle_icon">
                        <span></span>
                    </div>
                </div>
                {% if page.contact_form %}
                <div class="float-right">
                    <a class="main_btn" href="{{ page.contact_form.url }}">{{ page.contact_form.title }}</a>
                </div>
                {% endif %}
            </div>
        </div>
        <!--================End Canvus Menu Area =================-->

        <!--================Home Banner Area =================-->
        <section class="home_slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for img in banner_images %}
                    <div class="swiper-slide">{% image img fill-1920x900 %}
                        <div class="slider_text">
                            {% image page.logo max-600x600 %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </section>
        <!--================End Home Banner Area =================-->
        {% else %}
        <!--================Header Menu Area =================-->
        {% get_site_root as root %}
        <header class="header_area">
            <div class="main_menu">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand logo_h" href="{{ root.url }}">{% image root.specific.logo max-150x150 %}</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto">
                                {% get_site_root as site_root %}
                                {% top_menu parent=site_root calling_page=self li_class='nav-item' a_class='nav-link' parent_li_class='submenu dropdown' ul_class='dropdown_menu' parent_a_class='nav-link dropdown-toggle' %}
                            </ul>
                        </div> 
                    </div>
                </nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->

        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                {% get_page_image as page_image %}
                {% image page_image fill-1920x648 as img %}
                <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="{{ img.url }}"></div>
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>{{ page.title }}</h2>
                        {% breadcrumbs_complete %}
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        {% endif %}

        {% block content %}
        {% endblock %}

        <!--================ start footer Area  =================-->    
        <footer class="footer-area p_120">
            {% with request.site.root_page as root %}
            <div class="container">
                <div class="row">
                    {% for column in root.specific.footer_links %}
                    <div class="col-lg-2  col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h6 class="footer_title">{{ column.value.title }}</h6>
                            <ul class="list">
                                {% for link in column.value.links %}
                                <li><a href="{{ link.value.url }}">{{ link.value.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                    <!--<div class="col-lg-2  col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                           <h6 class="footer_title">Quick Links</h6>
                            <ul class="list">
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Brand Assets</a></li>
                                <li><a href="#">Investor Relations</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2  col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                           <h6 class="footer_title">Features</h6>
                            <ul class="list">
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Brand Assets</a></li>
                                <li><a href="#">Investor Relations</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2  col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                           <h6 class="footer_title">Resources</h6>
                            <ul class="list">
                                <li><a href="#">Guides</a></li>
                                <li><a href="#">Research</a></li>
                                <li><a href="#">Experts</a></li>
                                <li><a href="#">Agencies</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <aside class="f_widget news_widget">
                            <div class="f_title">
                                <h3 class="footer_title">Newsletter</h3>
                            </div>
                            <p>Stay updated with our latest trends</p>
                            <div id="mc_embed_signup">
                                <form target="_blank" action="" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                                    </div>
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </aside>
                    </div>-->
                </div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-md-8 footer-text m-0">Copyright © 2018 All rights reserved   |   This template is made with <i class="lnr lnr-heart"></i> by <a href="https://colorlib.com/wp/template/bakery2/">Colorlib</a></p>
                    <div class="col-lg-4 col-md-4 footer-social">
                        {% for icon in root.specific.contact_details %}
                        <a href="{{ icon.value.url }}" title="{{ icon.value.title }}"><i class="fa fa-{{ icon.value.icon }}"></i></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endwith %}
        </footer>
        <!--================ End footer Area  =================-->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'vendors/isotope/isotope-min.js' %}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'vendors/counter-up/jquery.counterup.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'vendors/popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'vendors/swiper/js/swiper.min.js' %}"></script>
        <script src="{% static 'vendors/scroll/jquery.mousewheel.min.js' %}"></script>
        <script src="{% static 'vendors/scroll/jquery.mCustomScrollbar.js' %}"></script>
        <script src="{% static 'js/theme.js' %}"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
