{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
<section class="about_story_area{% if value.image_position == 'left' %} p_120{% endif %}">
    <div class="container">
        <div class="row story_inner">
            {% if value.image_position == 'left' %}
                <div class="col-lg-7">
                    <div class="story_img2">
                        {% image value.meal.specific.image fill-750x750 class="img-fluid" %}
                    </div>
                </div>
            {% endif %}
            {% if value.image_position == 'left' %}
                <div class="col-lg-5">
            {% else %}
                <div class="col-lg-6">
            {% endif %}
                <div class="story_text">
                    <h2><a href="{{ value.meal.url }}">{{ value.meal.title }}
                        {% if value.meal.diet == 'veggie' %}<img src="{% static 'img/veggie-icon.png' %}" alt="Végétarien" title="Végétarien">
                        {% elif value.meal.diet == 'vegan' %}<img src="{% static 'img/vegan-icon.png' %}" alt="Vegan" title="Vegan">
                        {% endif %}
                        {% if value.meal.gluten_free %}<img src="{% static 'img/gluten-free.png' %}" alt="Sans gluten" title="Sans gluten"> {% endif %}
                        </a></h2>
                    {{ value.meal.specific.body | richtext }}
                    {% if value.meal.specific.ingredients %}
                    {% autoescape off %}
                    <p><em>{{ value.meal.specific.ingredients | join:', ' }}</em></p>
                    {% endautoescape %}
                    {% endif %}
                </div>
            </div>
            {% if value.image_position == 'right' %}
                <div class="col-lg-6">
                    <div class="story_img">
                        {% image value.meal.specific.image fill-550x550 class="img-fluid" %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

