{% load static %}
{% load wagtailimages_tags %}
<section class="about_story_area{% if value.image_position == 'left' %} p_120{% endif %}">
    <div class="container">
        <div class="row story_inner">
            {% if value.image_position == 'left' %}
                <div class="col-lg-7">
                    <div class="story_img2">
                        {% image value.image fill-750x750 class="img-fluid" %}
                    </div>
                </div>
            {% endif %}
            {% if value.image_position == 'left' %}
                <div class="col-lg-5">
            {% else %}
                <div class="col-lg-6">
            {% endif %}
                <div class="story_text">
                    <h2>{{ value.title }}</h2>
                    {{ value.text }}
                    {% if value.page %}
                    <a class="main_btn" href="{{ value.page.url }}">{% if value.page_title %}{{ value.page_title }}{% else %}{{ value.page.title }}{% endif %}</a>
                    {% endif %}
                </div>
            </div>
            {% if value.image_position == 'right' %}
                <div class="col-lg-6">
                    <div class="story_img">
                        {% image value.image fill-550x550 class="img-fluid" %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

