{% load home_tags wagtailcore_tags %}
{% get_site_root as site_root %}

<li{% if li_class %} class="{{ li_class }}"{% endif %}><a {% if a_class %} class="{{ a_class }}" {% endif %}href="{% pageurl site_root %}">{% if site_root.seo_title %}{{ site_root.seo_title }}{% else %}{{ site_root.title }}{% endif %}</a></li>
    {% for menuitem in menuitems %}
        {% if menuitem.show_dropdown %}
        <li class="{% if li_class %}{{ li_class }} {% endif %}{% if parent_li_class %}{{ parent_li_class }} {% endif %}{% if menuitem.active %}active{% endif %}">
            <a class="{% if a_class %}{{ a_class }} {% endif %}{% if parent_a_class %}{{ parent_a_class }} {% endif %}" href="{% pageurl menuitem %}">{% if menuitem.seo_title %}{{ menuitem.seo_title }}{% else %}{{ menuitem.title }}{% endif %}</a>
                <ul{% if ul_class %} class="{{ ul_class }}"{% endif %}>
                    {% for child in menuitem.get_menu_children %}
                    <li class="{% if li_class %}{{ li_class }}{% endif %}{% if child.active %} active{% endif %}">
                        <a class="{% if a_class %}{{ a_class }} {% endif %}" href="{% pageurl child %}">{% if child.seo_title %}{{ child.seo_title }}{% else %}{{ child.title }}{% endif %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
        <li class="{% if li_class %}{{ li_class }}{% endif %}{% if menuitem.active %} active{% endif %}">
            <a class="{% if a_class %}{{ a_class }} {% endif %}" href="{% pageurl menuitem %}">{% if menuitem.seo_title %}{{ menuitem.seo_title }}{% else %}{{ menuitem.title }}{% endif %}</a>
        </li>
        {% endif %}
    {% endfor %}
